[http]
	postBuffer = 1048576000
[user]
	name = Talmage Potts
	email = klavierplayer23@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesFile = /home/teapot/.config/git/ignore

[alias]
  branch-prune = "!git fetch -p && for b in $(git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' refs/heads); do git branch -d $b; done"
[worktree]
	useRelativePaths = true
