[http]
	postBuffer = 1048576000
[user]
	name = Talmage Potts
	email = klavierplayer23@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/talmage/.gitignore
